<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devej.matchingcard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RankActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".PlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".HelpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/DialogueTheme" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/DialogueTheme" />
        <activity
            android:name=".IntroActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <service
            android:name=".MusicService"
            android:enabled="true">
        </service>

    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>